<div class="container">
    <h3>List</h3>

    <div class="well">
        <table class="table">
            <thead>
            <tr>
                <th>zone</th>
                <th>Contestant</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contestant in main.contestants | reverse ">
                <td>{{contestant.zone}}</td>
                <td>{{contestant.name}}</td>
                <td>{{contestant.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>